@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Playwrite+NZ:wght@100..400&display=swap');

* {
    font-family: Montserrat;
}

.logo {
    padding-bottom: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     img {
        width: 75px;
        height: 75px;
        }
}

.navigation {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.photo {
    img {
        width: 100%;
        height: 540px;
        }
}

.product {
    img {
        padding: 10px;
        max-width: 420px;
        max-height: 420px;
    }
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: 70%;
}
.productList {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    height: 50px;
    width: 100%;
    background-color: white;
    border: 2px solid #d6d6d6;
    color: #060606;
    padding: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    color: white;
    background-color: #04aa6d;
    border: none;
}

.priceSection {
    width: 500px;
    text-align: center;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: black;
}

.navlink {
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.navlink:hover {
    color: #C0C0C0;
}

.productCard {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
}

.productDetails {

    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.productImage{
    max-width: 800px;
    max-height: 800px;
    margin-top: 10px;
    padding: 15px;
}

.charrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviewHeader {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reviewHeader * {
    margin: 0;
}

.createReviewForm {
    display: flex;
    flex-direction: column;
}

.createReviewForm * {
    margin-top: 10px;
    font-size: 20px;
}

.inputElement {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #a6a6a6;
}

.textGreen {
    color: #04aa6d;
}

.textRed {
    color: #aa0404;
}