{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="logo">
         <img src="https://i.postimg.cc/y6jsSc6k/image.png">
</div>

<div class="navigation">
    <a class = "navlink" href="/">главная</a>&emsp;&emsp;&emsp;
    <a class = "navlink" href="/products">товары</a>&emsp;&emsp;&emsp;
    <a class = "navlink" href="/discounts">акции</a>&emsp;&emsp;&emsp;
    <a class = "navlink" href="/gift_cards">подарочные карты</a>&emsp;&emsp;&emsp;
    <a class = "navlink" href="/client_days">клиентские дни</a>
</div>

<div class="photo">
    <img src="https://i.postimg.cc/yd0fbJb3/fffffffffffffffffffffffffff-vmake.jpg">
</div>
